<!DOCTYPE html>

<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>QD IT-Solutions</title>
    <link rel="stylesheet" type="text/css" href="qdstyles.css">

    <script src="scripts/jquery-3.2.1.min.js"></script>
    <script src="scripts/dynamics.js"></script>

</head>

<body>

    <header>

        <a id="menu-button" class="menu-icon">
            <svg width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </a>

        <div class="title-container">
            <h1 class="title"><span id="qd-part">QD</span> <span>IT-Solutions</span></h1>
            <p class="slogan">Passionate about software development</p>
        </div>

        <nav id="nav-bar" class="nav-container" hidden>
            <ul class="nav-list">
                <li><a class="nav-link" href="index.html">Home</a></li>
                <li><a class="nav-link" href="#">Diensten</a></li>
                <li><a class="nav-link" href="#">Contact</a></li>
            </ul>
        </nav>

    </header>

    <div class="main-container" role="main">

        <div class="service-header-container">

            <div class="service-content-container">

                <div id="service-text-container" class="service-text-container">

                    <h2 id="service-title" class="service-title">Website ontwikkeling</h2>
                    <p class="service-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores</p>

                </div>

                <div class="service-scroll-indicator">

                    <p class="read-more-text">Lees meer</p>
                    <svg class="arrow-down-icon" width="48px" height="48px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z">
                    </svg>

                </div>

            </div>

            <div class="service-header-bg">
                <div class="service-image-overlay"></div>
                <img class="service-header-image" src="img/web-bg.png ">
            </div>

            <svg class="service-header-divider-large" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg " viewBox="0 0 1920 156 "><g id="Path ">
                    <polyline style="fill: #FFFFFF; " points="0 156.5 1920.1 156.5 1920 64.81 1512.4 136.79 1156.3 64.81 764 149 335.7 116.18 0 0 "></g>
                    <g id="Transparancy " style="fill: rgba(0, 0, 0, 0); "><polygon points="0 0 335.7 116.18 764 149 1156.3 64.81 1512.4 136.79 1920.1 64.81 1920.1 0 0 0 "></g>
                </svg>

            <svg class="service-header-divider-small" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 389" style="enable-background:new 0 0 1920 389;" xml:space="preserve">
                    <g id="Div">
	                <polygon style="fill: #FFFFFF; " class="st0" points="0,0 737.5,157.5 1359.5,15.5 1920,173 1920,389.5 0,389.5"/>
                    </g>

                    <g id="Transparancy" style="fill: rgba(0, 0, 0, 0); ">
	                <polygon class="st0" points="0,0 1920,0 1920,173 1359,15 737,157 	"/>
                    </g>
               </svg>

        </div>

        <div class="margin-container ">

            <div class="page-white-overlay"></div>

            <h3 class="cases-title ">Cases</h3>

            <div class="cases-container">

                <div class="project-container">

                    <img class="project-img" src="img/placeholder.png" alt="">

                    <div class="project-content">
                        <h3 class="project-title">Project Title</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                    </div>

                </div>

                <div class="project-container">

                    <img class="project-img" src="img/placeholder.png" alt="">

                    <div class="project-content">
                        <h3 class="project-title">Project Title</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                    </div>

                </div>

                <div class="project-container">

                    <img class="project-img" src="img/placeholder.png" alt="">

                    <div class="project-content">
                        <h3 class="project-title">Project Title</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                    </div>

                </div>

                <div class="project-container">

                    <img class="project-img" src="img/placeholder.png" alt="">

                    <div class="project-content">
                        <h3 class="project-title">Project Title</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                    </div>

                </div>

                <div class="project-container">

                    <img class="project-img" src="img/placeholder.png" alt="">

                    <div class="project-content">
                        <h3 class="project-title">Project Title</h3>
                        <p class="project-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <footer style="display: block; ">

        <ul class="social-media-list ">
            <li>
                <a class="social-media-link " href="# "><i class="twitter-icon "></i></a>
            </li>
        </ul>

        <p class="copyright-notice ">Copyright 2020 QD IT-Solutions</p>

    </footer>

</body>